  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Success!</title>
</head>
<body>
    <h1>You successfully submitted your Coding Dojo Survey!</h1>
    <p>Name: {{ session['name'] }}</p>
    <p>Coding Dojo Campus: {{ session['location'] }}</p>
    <p>Favorite Language: {{ session['language'] }}</p>
    <p>Comment: {{ session['comment'] }}</p>

</body>
</html>